#FLOWCHART {
  display: flex;
  flex-direction: column;
  height: 100%;
}


#FLOWCHART .grid_row {
  display: flex;
  flex-direction: row;
  height: 120px;
  flex-shrink: 0;
}

#FLOWCHART .grid_row_no_nodes {
  display: flex;
  flex-direction: row;
  height: 90px;
  flex-shrink: 0;
}


#FLOWCHART .grid_col {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 130px;
}

#FLOWCHART .grid_col_no_nodes {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 90px;
}
